examples/demos (advanced)/01 - Television with inputs and speaker.json
[
    {
        "id": "a98abda4.5784d",
        "type": "group",
        "z": "21f36bce.02d864",
        "name": "Television: input from device, output to device",
        "style": {
            "stroke": "#999999",
            "fill": "none",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "894d3458.2f07d",
            "87183aa8.418ec",
            "519fe2f2.b4870c",
            "5de4624c.b2aeac",
            "d5812842.bebac",
            "ac7b78f3.2b9328",
            "1d662593.e8434a",
            "405055ca.02f2dc",
            "f164c3c9.de75e8",
            "d35fba0b.560e68",
            "da9f0bd6.b2bbf",
            "b4c4b8b.fc331c8",
            "56282414.102184",
            "f83a84cb.08b19"
        ],
        "x": 14,
        "y": 59,
        "w": 932,
        "h": 488,
        "info": "## Example With Speaker and 4 inputs\n\nThis example will show a television service with 4 inputs and a speaker (volume control). There are two functions that should be used to name your specific devices. These functions are `Setup TV` and `Setup Inputs`.\n\n**Setup TV:**\nThis function will be run 5 seconds after startup or whenever the `TV Setup` inject node is triggered. Change the name on line 1 of the function. The output message is sent to the Television Service to initialize the name and set the TV to `{\"Active\":0}` (TV off).\n\n**Setup Inputs:**\nThis function will be run 6 seconds after startup or whenever the `Source Setup` inject node is triggered. The following variables are available:\n* Lines 5 through 8 will name your sources\n* Lines 24 through 27 will set the input type according to the values in lines 11 through 21\n\n## Setting the HomeKit item based on TV state\n\nThere are various `inject` nodes which can be used to send information from your television ([Vizio API](https://github.com/exiva/Vizio_SmartCast_API), [Onkyo device](https://github.com/estbeetoo/node-red-contrib-eiscp), [Samsung TV](https://github.com/Toxblh/node-red-contrib-samsung-tv-control), [LG TV](https://github.com/hobbyquaker/node-red-contrib-lgtv), etc). It is up to you as the user to set this up according to your hardware. Use the provided `inject` nodes as a template to begin understanding the payloads expected by the Television Service.\n\nPlease note that the Television Speaker and Input Source service items **DO NOT** receive any input after initial configuration.\n\n## Setting TV state based on HomeKit output\n\nThere are two debug nodes provided. These can be used as examples of the output coming from HomeKit nodes to set up your system accordingly.\n\nThe `State and source output` debug node will output the following payloads:\n* `{\"Active\":0/1}` for TV state off/on\n* `{\"Input\":0-3}` for changing inputs from HomeKit\n* `{\"RemoteKey\":various}` for various integers when using the control center remote\n\n\nThe `Volume output` debug node will output the following payloads:\n* `{\"VolumeSelector\":0}` when control center remote press is \"Increase Volume\"\n* `{\"VolumeSelector\":1}` when control center remote press is \"Decrease Volume\"\n\nThe Input Source services will output payloads like `{\"ConfiguredName\":\"Name\"}` if the name is changed from HomeKit. If you would like to change your input names from within HomeKit rather than the `Set up inputs` function, it can be done but is beyond the scope of this example.\n"
    },
    {
        "id": "894d3458.2f07d",
        "type": "inject",
        "z": "21f36bce.02d864",
        "g": "a98abda4.5784d",
        "name": "TV on",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Active\":1}",
        "payloadType": "json",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "56282414.102184"
            ]
        ]
    },
    {
        "id": "87183aa8.418ec",
        "type": "inject",
        "z": "21f36bce.02d864",
        "g": "a98abda4.5784d",
        "name": "TV off",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Active\":0}",
        "payloadType": "json",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "56282414.102184"
            ]
        ]
    },
    {
        "id": "519fe2f2.b4870c",
        "type": "debug",
        "z": "21f36bce.02d864",
        "g": "a98abda4.5784d",
        "name": "State and source output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 790,
        "y": 140,
        "wires": []
    },
    {
        "id": "5de4624c.b2aeac",
        "type": "debug",
        "z": "21f36bce.02d864",
        "g": "a98abda4.5784d",
        "name": "Volume output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 220,
        "wires": []
    },
    {
        "id": "d5812842.bebac",
        "type": "inject",
        "z": "21f36bce.02d864",
        "g": "a98abda4.5784d",
        "name": "TV Setup",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "1d662593.e8434a"
            ]
        ]
    },
    {
        "id": "ac7b78f3.2b9328",
        "type": "inject",
        "z": "21f36bce.02d864",
        "g": "a98abda4.5784d",
        "name": "Source Setup",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "6",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 480,
        "wires": [
            [
                "b4c4b8b.fc331c8"
            ]
        ]
    },
    {
        "id": "1d662593.e8434a",
        "type": "function",
        "z": "21f36bce.02d864",
        "g": "a98abda4.5784d",
        "name": "Setup TV",
        "func": "var name = \"Television\";\n\nmsg.payload = {\n \"ConfiguredName\": name,\n \"ActiveIdentifier\" : 0,\n \"SleepDiscoveryMode\" : 0,\n \"Active\" : 0\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 100,
        "wires": [
            [
                "56282414.102184"
            ]
        ]
    },
    {
        "id": "405055ca.02f2dc",
        "type": "inject",
        "z": "21f36bce.02d864",
        "g": "a98abda4.5784d",
        "name": "Input 1",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"ActiveIdentifier\":1}",
        "payloadType": "json",
        "x": 110,
        "y": 320,
        "wires": [
            [
                "56282414.102184"
            ]
        ]
    },
    {
        "id": "f164c3c9.de75e8",
        "type": "inject",
        "z": "21f36bce.02d864",
        "g": "a98abda4.5784d",
        "name": "Input 0",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"ActiveIdentifier\":0}",
        "payloadType": "json",
        "x": 110,
        "y": 280,
        "wires": [
            [
                "56282414.102184"
            ]
        ]
    },
    {
        "id": "d35fba0b.560e68",
        "type": "inject",
        "z": "21f36bce.02d864",
        "g": "a98abda4.5784d",
        "name": "Input 2",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"ActiveIdentifier\":2}",
        "payloadType": "json",
        "x": 110,
        "y": 360,
        "wires": [
            [
                "56282414.102184"
            ]
        ]
    },
    {
        "id": "da9f0bd6.b2bbf",
        "type": "inject",
        "z": "21f36bce.02d864",
        "g": "a98abda4.5784d",
        "name": "Input 3",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"ActiveIdentifier\":3}",
        "payloadType": "json",
        "x": 110,
        "y": 400,
        "wires": [
            [
                "56282414.102184"
            ]
        ]
    },
    {
        "id": "b4c4b8b.fc331c8",
        "type": "function",
        "z": "21f36bce.02d864",
        "g": "a98abda4.5784d",
        "name": "Set up inputs",
        "func": "// This function will initialize and name inputs\n// it is set to work with 4 inputs\n\n// INPUT SOURCE NAMES\nvar input0 = \"HDMI 1\";\nvar input1 = \"HDMI 2\";\nvar input2 = \"Apple TV\";\nvar input3 = \"Wii U\";\n\n// INPUT SOURCE TYPES\nvar OTHER = 0;\nvar HOME_SCREEN = 1;\nvar TUNER = 2;\nvar HDMI = 3;\nvar COMPOSITE_VIDEO = 4;\nvar S_VIDEO = 5;\nvar COMPONENT_VIDEO = 6;\nvar DVI = 7;\nvar AIRPLAY = 8;\nvar USB = 9;\nvar APPLICATION = 10;\n\n// Configure your input types based on options above\nvar input0type = HDMI;\nvar input1type = HDMI;\nvar input2type = HDMI;\nvar input3type = COMPOSITE_VIDEO;\n\n\n// Duplicate or remove sets if you have more or fewer inputs\nvar msg0={};\nvar msg1={};\nvar msg2={};\nvar msg3={};\n\nmsg0.payload = {\n \"Identifier\": 0,\n \"IsConfigured\" : 1,\n \"ConfiguredName\": input0,\n \"InputSourceType\": input0type\n};\nmsg1.payload = {\n \"Identifier\": 1,\n \"IsConfigured\" : 1,\n \"ConfiguredName\": input1,\n \"InputSourceType\": input1type\n};\nmsg2.payload = {\n \"Identifier\": 2,\n \"IsConfigured\" : 1,\n \"ConfiguredName\": input2,\n \"InputSourceType\": input2type\n};\nmsg3.payload = {\n \"Identifier\": 3,\n \"IsConfigured\" : 1,\n \"ConfiguredName\" : input3,\n \"InputSourceType\" : input3type\n};\nreturn [msg0,msg1,msg2,msg3];",
        "outputs": 4,
        "noerr": 0,
        "x": 330,
        "y": 460,
        "wires": [
            [
                "cb312294.a7f498"
            ],
            [
                "28645f7e.68e9b"
            ],
            [
                "3a8efd21.5d57c2"
            ],
            [
                "4c751d1f.e9a014"
            ]
        ]
    },
    {
        "id": "56282414.102184",
        "type": "homekit-service",
        "z": "21f36bce.02d864",
        "g": "a98abda4.5784d",
        "isParent": true,
        "bridge": "5257174b.4307a8",
        "parentService": "",
        "name": "Television Example",
        "serviceName": "Television",
        "topic": "",
        "filter": false,
        "manufacturer": "Default Manufacturer",
        "model": "Default Model",
        "serialNo": "Default Serial Number",
        "firmwareRev": "",
        "hardwareRev": "",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{\n \"RemoteKey\":null\n}",
        "outputs": 2,
        "x": 530,
        "y": 140,
        "wires": [
            [],
            [
                "519fe2f2.b4870c"
            ]
        ]
    },
    {
        "id": "f83a84cb.08b19",
        "type": "group",
        "z": "21f36bce.02d864",
        "g": "a98abda4.5784d",
        "name": "Linked services",
        "style": {
            "stroke": "#0070c0",
            "fill": "#bfdbef",
            "label": true
        },
        "nodes": [
            "1b32678b.2eedf",
            "cb312294.a7f498",
            "28645f7e.68e9b",
            "3a8efd21.5d57c2",
            "4c751d1f.e9a014"
        ],
        "x": 434,
        "y": 179,
        "w": 232,
        "h": 342
    },
    {
        "id": "1b32678b.2eedf",
        "type": "homekit-service",
        "z": "21f36bce.02d864",
        "g": "f83a84cb.08b19",
        "isParent": false,
        "bridge": "5257174b.4307a8",
        "parentService": "56282414.102184",
        "name": "Television Speaker",
        "serviceName": "TelevisionSpeaker",
        "topic": "Television Example",
        "filter": false,
        "manufacturer": "Default Manufacturer",
        "model": "Default Model",
        "serialNo": "Default Serial Number",
        "firmwareRev": "",
        "hardwareRev": "",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{\n \"VolumeControlType\":1,\n \"VolumeSelector\":true\n}",
        "outputs": 2,
        "x": 550,
        "y": 220,
        "wires": [
            [],
            [
                "5de4624c.b2aeac"
            ]
        ]
    },
    {
        "id": "cb312294.a7f498",
        "type": "homekit-service",
        "z": "21f36bce.02d864",
        "g": "f83a84cb.08b19",
        "isParent": false,
        "bridge": "",
        "parentService": "56282414.102184",
        "name": "Input 0",
        "serviceName": "InputSource",
        "topic": "Television Example",
        "filter": false,
        "manufacturer": "Default Manufacturer",
        "model": "Default Model",
        "serialNo": "Default Serial Number",
        "firmwareRev": "",
        "hardwareRev": "",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "outputs": 2,
        "x": 580,
        "y": 300,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "28645f7e.68e9b",
        "type": "homekit-service",
        "z": "21f36bce.02d864",
        "g": "f83a84cb.08b19",
        "isParent": false,
        "bridge": "",
        "parentService": "56282414.102184",
        "name": "Input 1",
        "serviceName": "InputSource",
        "topic": "Television Example",
        "filter": false,
        "manufacturer": "Default Manufacturer",
        "model": "Default Model",
        "serialNo": "Default Serial Number",
        "firmwareRev": "",
        "hardwareRev": "",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "outputs": 2,
        "x": 580,
        "y": 360,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "3a8efd21.5d57c2",
        "type": "homekit-service",
        "z": "21f36bce.02d864",
        "g": "f83a84cb.08b19",
        "isParent": false,
        "bridge": "",
        "parentService": "56282414.102184",
        "name": "Input 2",
        "serviceName": "InputSource",
        "topic": "Television Example",
        "filter": false,
        "manufacturer": "Default Manufacturer",
        "model": "Default Model",
        "serialNo": "Default Serial Number",
        "firmwareRev": "",
        "hardwareRev": "",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "outputs": 2,
        "x": 580,
        "y": 420,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "4c751d1f.e9a014",
        "type": "homekit-service",
        "z": "21f36bce.02d864",
        "g": "f83a84cb.08b19",
        "isParent": false,
        "bridge": "",
        "parentService": "56282414.102184",
        "name": "Input 3",
        "serviceName": "InputSource",
        "topic": "Television Example",
        "filter": false,
        "manufacturer": "Default Manufacturer",
        "model": "Default Model",
        "serialNo": "Default Serial Number",
        "firmwareRev": "",
        "hardwareRev": "",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "outputs": 2,
        "x": 580,
        "y": 480,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "5257174b.4307a8",
        "type": "homekit-bridge",
        "z": "",
        "bridgeName": "Demo TV",
        "pinCode": "111-11-111",
        "port": "",
        "allowInsecureRequest": false,
        "manufacturer": "NRCHKB",
        "model": "Demo",
        "serialNo": "1.1.2",
        "customMdnsConfig": false,
        "mdnsMulticast": true,
        "mdnsInterface": "",
        "mdnsPort": "",
        "mdnsIp": "",
        "mdnsTtl": "",
        "mdnsLoopback": true,
        "mdnsReuseAddr": true,
        "allowMessagePassthrough": false
    }
]
