examples/demo/07 - Fan (with speed, oscillate, rotation direction).json
[
    {
        "id": "2c464315.51c50c",
        "type": "group",
        "z": "60b06629.a2ebd",
        "name": "Fan Full Example: input from device, output to device",
        "style": {
            "stroke": "#999999",
            "fill": "none",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "b7778e52.220a5",
            "fd8aff55.91d41",
            "c717b796.0735b8",
            "f56a2f96.509c1",
            "d945ba75.897998"
        ],
        "x": 14,
        "y": 1619,
        "w": 752,
        "h": 182,
        "info": "# Fan V2\n\nThis example shows a fan. The inputs from node red are to turn the fan on, off, or set \"No Response\".\n\nThe outputs going to \"Fan output\" will show:\n\nOn / off state <br/>\nRotation speed<br/>\nSwing mode on / off (oscillate) <br/>\nRotation direction (clockwise/counterclockwise)"
    },
    {
        "id": "b7778e52.220a5",
        "type": "debug",
        "z": "60b06629.a2ebd",
        "g": "2c464315.51c50c",
        "name": "Fan output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 650,
        "y": 1660,
        "wires": []
    },
    {
        "id": "fd8aff55.91d41",
        "type": "homekit-service",
        "z": "60b06629.a2ebd",
        "g": "2c464315.51c50c",
        "isParent": true,
        "bridge": "409001a1.3e7a78",
        "parentService": "",
        "name": "Fan V2",
        "serviceName": "Fanv2",
        "topic": "",
        "filter": false,
        "manufacturer": "Default Manufacturer",
        "model": "Default Model",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.0.0",
        "hardwareRev": "1.0.0",
        "softwareRev": "1.0.0",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{\n    \"RotationSpeed\":true,\n    \"RotationDirection\":true,\n    \"SwingMode\":true\n}",
        "outputs": 2,
        "x": 420,
        "y": 1660,
        "wires": [
            [
                "b7778e52.220a5"
            ],
            []
        ]
    },
    {
        "id": "c717b796.0735b8",
        "type": "inject",
        "z": "60b06629.a2ebd",
        "g": "2c464315.51c50c",
        "name": "NO RESPONSE",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Active\":\"NO_RESPONSE\"}",
        "payloadType": "json",
        "x": 140,
        "y": 1760,
        "wires": [
            [
                "fd8aff55.91d41"
            ]
        ]
    },
    {
        "id": "f56a2f96.509c1",
        "type": "inject",
        "z": "60b06629.a2ebd",
        "g": "2c464315.51c50c",
        "name": "ON",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Active\":true}",
        "payloadType": "json",
        "x": 120,
        "y": 1660,
        "wires": [
            [
                "fd8aff55.91d41"
            ]
        ]
    },
    {
        "id": "d945ba75.897998",
        "type": "inject",
        "z": "60b06629.a2ebd",
        "g": "2c464315.51c50c",
        "name": "OFF",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Active\":false}",
        "payloadType": "json",
        "x": 120,
        "y": 1700,
        "wires": [
            [
                "fd8aff55.91d41"
            ]
        ]
    },
    {
        "id": "409001a1.3e7a78",
        "type": "homekit-bridge",
        "z": "",
        "bridgeName": "Demo 1",
        "pinCode": "153-10-538",
        "port": "",
        "allowInsecureRequest": false,
        "manufacturer": "NRCHKB",
        "model": "Demo",
        "serialNo": "1.1.2",
        "customMdnsConfig": false,
        "mdnsMulticast": true,
        "mdnsInterface": "",
        "mdnsPort": "",
        "mdnsIp": "",
        "mdnsTtl": "",
        "mdnsLoopback": true,
        "mdnsReuseAddr": true,
        "allowMessagePassthrough": true
    }
]
